html,
body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(52, 42, 114);
}

.topTitle{
  color: black;
  font-weight: 800;
  margin-left: 10px;
  margin-top:-0px;
}

.specialTitle{
  background: -webkit-linear-gradient(#b30d18,#b30d18);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;

}

.subTitle{
  color:black;
  margin-left: 10px;
  margin-top: -20px;
}
/* I expanded my style sheeds and calles it box.css . I used a box.css so that I can create my boxes (with you can see on the webpage)  */
/* I got the layout with seizes ect. for the boxes from the internet and by trying diffrent varities out.  */
.box_1{
  width:32%;
  height: 380px;
  background: #f2f2f3;
  margin-left:10px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px black;
  margin-bottom: 10px;
  transition: .2s ease-in-out ;
}

.box_1:hover{
  box-shadow: 0px 0px 0px 0px black; 
}
/* i added the hover affect so when you click on it, it would have an  */

.box_2{
  width:32%;
  height: 380px;
  background: #f2f2f3;
  margin-left:  425px;
  margin-top: -900px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px black;
  margin-bottom: 10px;
  transition: .2s ease-in-out ;
}

.box_2:hover{
  box-shadow: 0px 0px 0px 0px black; 
}

.box_3{
  width:32%;
  height: 390px;
  background: #f2f2f3;
  margin-left:425px;
  margin-top: 0px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px black;
  margin-bottom: 10px;
  transition: .2s ease-in-out ;
}

.box_3:hover{
  box-shadow: 0px 0px 0px 0px black; 
}

.box_4{
  width:32%;
  height: 400px;
  background: #f2f2f3;
  margin-left:840px;
  margin-top: -790px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px black;
  margin-bottom: 10px;
  transition: .2s ease-in-out ;
}

.box_4:hover{
  box-shadow: 0px 0px 0px 0px black; 
}

.box_5{
  width: 32%;
  height: 400px;
  background: #f2f2f3;
  margin-left:840px;
  margin-top: 0px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px black;
  margin-bottom: 10px;
  transition: .2s ease-in-out ;
}

.box_5:hover{
  box-shadow: 0px 0px 0px 0px black; 
}

.box_6{
  width:65%;
  height: 74px;
  background: #f2f2f3;
  margin-left:425px;
  margin-top: -10px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px black;
  margin-bottom: 10px;
  transition: .2s ease-in-out ;
}

.box_6:hover{
  box-shadow: 0px 0px 0px 0px black; 
}

.box_7{
  width: 32%;
  height: 500px;
  background: #f2f2f3;
  margin-left: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px black;
  margin-bottom: 10px;
  transition: 2s ease-in-out;
}


