html,
body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topTitle{
  color: black;
  font-weight: 800;
  margin-left: 10px;
  margin-top:-0px;
}

.specialTitle{
  background: -webkit-linear-gradient(#B195B0, #7E5D7D);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;

}

.subTitle{
  color:black;
  margin-left: 10px;
  margin-top: -20px;
}

.box_1{
  width:32%;
  height: 380px;
  background: #D9D9D9;
  margin-left:10px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px black;
  margin-bottom: 10px;
}

.box_2{
  width:32%;
  height: 380px;
  background: #D9D9D9;
  margin-left:425px;
  margin-top: -730px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px black;
  margin-bottom: 10px;
}

.box_3{
  width:32%;
  height: 330px;
  background: #D9D9D9;
  margin-left:425px;
  margin-top: 0px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px black;
  margin-bottom: 10px;
}

.box_4{
  width:32%;
  height: 330px;
  background: #D9D9D9;
  margin-left:840px;
  margin-top: -840px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px black;
  margin-bottom: 10px;
}

.box_5{
  width:32%;
  height: 400px;
  background: #D9D9D9;
  margin-left:840px;
  margin-top: 0px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px black;
  margin-bottom: 10px;
}

.box_6{
  width:32%;
  height: 80px;
  background: #D9D9D9;
  margin-left:840px;
  margin-top: 0px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px black;
  margin-bottom: 10px;
}