.boxTitle{
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
    position: relative;
    top: 10px;
}

ul {
    list-style: none;
    margin-left: -20px;
}

.key {
    font-weight: 600;
}

.imageContainer{
    width: 380px;
    height: 380px;
    margin-left: 10px;
    border-radius: 50px;
}

.signText{
    font-size: 20px;
    font-weight: 700;
    margin-left: 80px;
    padding-top: 30px;
}

.imageLabel{
    margin-top: -80px;
    margin-left: 120px;
    font-size: 20px;
    font-weight: 600;
}